
  .bg-image{
    background-image: url(../../assets/images/welcome.jpg);
    // background-size: 1000px 2003px;
    background-repeat: no-repeat;
    //padding: 18em 0em;
    height: 60vh;
    background-position: 32% 0%;
    background-size: cover;
  }